@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 0.8125rem;
  font-weight: 300;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
  transition: color 200ms ease-in-out;
}

.breadcrumb {
  a {
    text-decoration: underline;
  }
}

a:hover {
  color: #0075fc;
}

.wrapper {
  padding-top: 0.75rem;
  padding-bottom: 3rem;
}

.breadcrumb {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  padding: 0 10px;

  .container {
    ul {
      list-style-type: none;
      li {
        font-size: 0.75rem;
        line-height: 1.2em;
        display: inline;
        &:not(:first-child)::before {
          content: "/";
          margin: 0 0.25em;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    width: 1240px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-box {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeHolderShimmer;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  border-radius: 8px;
  position: relative;
}
